<div class="content">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-icon mat-card-avatar>person</mat-icon>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="warn" (click)="googleLogin()">
        Google
      </button>
      <button mat-flat-button color="primary" (click)="facebookLogin()">
        Facebook
      </button>
      <button mat-flat-button color="github" (click)="githubLogin()">
        Github
      </button>
    </mat-card-actions>
  </mat-card>
</div>