<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>movie</mat-icon>
  </button>
  <span>Personal Movie Catalog</span>
  <span class="example-spacer"></span>
  <button mat-mini-fab color="warn">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
    <mat-list-item *ngFor="let link of links">
      <mat-icon matListIcon>{{link.icon}}</mat-icon>
      <a [routerLink]="link.path"> {{ link.title }} </a>
    </mat-list-item>
   </mat-nav-list>   
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>